* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  svg {
    scale: 1;
  }
  button:hover {
    cursor: pointer;
  }
  header,
  section,
  footer {
    padding: 3rem 8rem;
  }
  header {
    position: relative;
  }
  header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    width: calc(100% - 16rem);
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
  header #menu_wrapper #burger {
    display: none;
  }
  header #menu_wrapper nav {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
  }
  header #menu_wrapper nav #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: auto;
  }
  header #menu_wrapper nav #menu #close_menu {
    display: none;
  }
  header #menu_wrapper nav #menu .links {
    position: relative;
  }
  header #menu_wrapper nav #menu .links::before {
    content: "";
    position: absolute;
    bottom: calc(-2.5rem + 3px);
    left: 0;
    width: 100%;
    scale: 0;
    transition: scale 0.2s ease-out;
    border-bottom: 3px solid hsl(26, 100%, 55%);
  }
  header #menu_wrapper nav #menu .links:hover::before {
    scale: 1;
  }
  header #user-wrapper #cart #cart_menu {
    top: 3rem;
    left: auto;
    right: -6rem;
    width: 20rem;
  }
  header #user-wrapper #cart-btn:hover,
  header #user-wrapper #user_menu:hover {
    cursor: pointer;
  }
  header #user-wrapper #user_menu:hover {
    border: 2px solid hsl(26, 100%, 55%);
  }
  main {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 50%);
    padding: 4rem 8rem;
  }
  main .carousel {
    overflow: auto;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
    width: auto;
    height: auto;
  }
  main .carousel .myslides {
    border-radius: 10px;
    overflow: hidden;
  }
  main .carousel .myslides:hover {
    cursor: pointer;
  }
  main .carousel .prev,
  main .carousel .next {
    display: none;
  }
  main .carousel .row {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: row;
  }
  main .carousel .row .column {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid transparent;
    aspect-ratio: 1/1;
    transition: 0.2s ease;
  }
  main .carousel .row .column ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: red;
  }
  main .carousel .row .column .demo {
    width: 100%;
    height: 100%;
  }
  main .carousel .row .column:hover {
    cursor: pointer;
    filter: grayscale(80%);
  }
  main .carousel .row .column.selected {
    border: 3px solid hsl(26, 100%, 55%);
    filter: grayscale(80%);
  }
  main #product {
    padding-inline: 0;
  }
  main #product .purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
  main #product #add_to_cart {
    transition: scale 0.2s ease-in-out;
  }
  main #product #add_to_cart:hover {
    scale: 1.1;
  }
}/*# sourceMappingURL=desktop.css.map */