@import './variables';

@media screen and (min-width: 900px) {
    svg {
        scale: 1;
    }

    button:hover {
        cursor:pointer;
    }

    header,
    section,
    footer {
        padding: 3rem 8rem;
    }

    header {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: auto;
            width: calc(100% - 16rem);

            border-bottom: 1px solid $clr-third-light;
        }

        #menu_wrapper {
            
            #burger {
                display: none; 
            }

            nav{
                position: relative;

                height: auto;
                width: 100%;
                margin: auto;
                z-index: 0;

                #menu {
                    @include flex(space-evenly, center, 1rem);
                    flex-direction: row;

                    opacity: 1;
                    visibility: visible;
                    width: 100%;
                    height: auto;

                    #close_menu {
                        display: none;
                    }

                    .links {
                        position: relative;
                        color: $clr-third-light;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: calc(-2.5rem + 3px);
                            left: 0;
                            width: 100%;
                            scale: 0;
                            transition: scale .2s ease-out;
                
                            border-bottom: 3px solid $primary;
                        }
                        
                    }
                    .links:hover {
                        color: $fc-primary-dark;

                        &::before {
                            scale: 1;
                        }
                    }
                    
                }
            }
        }

        #user-wrapper {
            #cart {
                position: relative;

                .cart-quantity {
                    transform: translate(.5rem, -.3rem);
                }

                #cart_menu {
                    top: 3rem;
                    left: auto;
                    right: -6rem;
                    width: 20rem;
                }

            }

            #cart-btn:hover,
            #user_menu:hover 
            {
                cursor: pointer;
            }

            #user_menu {
                width: 3rem;
                height: 3rem;
            }

            #user_menu:hover {
                border: 2px solid $primary;
            }
        }
    }

    main {
        @include gridCenter;
        gap: 2rem;
        grid-template-columns: repeat(2, 50%);
        padding: 4rem 8rem;
        max-width: 100rem;
        margin: auto;

        .carousel {
            overflow: auto;
            flex-direction: column;
            gap: 2rem;
            padding: 0 3rem;
            
            max-width: 28rem;
            height: auto;
            
            .mySlides{
                border-radius: $radius;
                overflow: hidden;
                
                width: 100%;
            }
            
            .mySlides:hover {
                cursor: pointer;
            }
            
            .prev,
            .next {
                display: none;
            }
            
            .row {
                display: block;
                @include flex(center, center, .7rem);
                flex-direction: row;
                
                .column {
                    position: relative;
                    border-radius: $radius;
                    overflow: hidden;
                    border: 3px solid transparent;
                    aspect-ratio: 1/1;
                    transition: .2s ease;
                    
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        opacity: .6;
                        border: 3px solid transparent;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        cursor: pointer;

                        &::before {
                            background-color: white;
                        }
                    }

                    .demo {
                        width: 100%;
                        height: 100%;
                    }
                }

                .column.selected{
                    border: 3px solid $primary;
                }
                
                .column.selected::before{
                    background-color: white;                  
                }
                
            }
        }

        .modal-carousel {
            position: absolute;
            gap: 1rem;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden;

            background-color: $bgr-lightbox;

            #close-modal {
                width: 1rem;
                justify-self: right;

                svg path{
                    fill: $bgr-color;
                }

                &:hover {
                    cursor: pointer;

                    svg path {
                        fill: $primary;
                    }
                }
            }

            .modal-content {
                position: relative;
                width: max-content;
            }

            .mySlidesModal {
                position: relative;
                display: none;
                width: 100%;
                height: 30rem;
                border-radius: $radius;
                overflow: hidden;
            }

            .prev,
            .next {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                @include gridCenter;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: $bgr-color;
            }
            
            .next {
                right: 0;
                transform: translate(50%, -50%);
            }

            .prev:hover,
            .next:hover {
                cursor: pointer;

                svg path{
                    stroke: $primary;
                }
            }

            .row {
                @include flex(space-between, center, 1rem);
                flex-direction: row;

                .column {
                    position: relative;
                    width: 6rem;
                    height: 6rem;
                    border-radius: $radius;
                    border: 3px solid transparent;
                    overflow: hidden;
                    transition: .2s ease;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        opacity: .6;
                        border: 3px solid transparent;
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        cursor: pointer;

                        &::before {
                            background-color: white;
                        }
                    }
                }

                .column.selected{
                    border: 3px solid $primary;
                }
                
                .column.selected::before{
                    background-color: white;                  
                }
            }
        }

        .modal-carousel.modal-open {
            @include gridCenter;
        }
        
        #product{
            padding-inline: 2rem;
            
            .price_wrapper {
                flex-direction: column;
                width: fit-content;
                align-items: flex-start;
            }
            
            .purchase {
                @include flex(space-between, center, .5rem);
                margin-top: 2rem;

                .select_quantity_wrapper {
                    width: clamp(14rem, 3vw, 6rem);
                }
                
                #add_to_cart {
                    position: relative;
                    scale: 1;
                    max-width: 20rem;
                    transition: scale .2s ease-in-out;

                    ::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        opacity: .3;
                        transition: all 0.3s ease;
                    }
                }
                
                #add_to_cart:hover ::before{
                    background-color: white;
                }
            }
            
        }
        
        section {
            padding-inline: 2rem;
        }
    }
}