* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  svg {
    scale: 1;
  }
  button:hover {
    cursor: pointer;
  }
  header,
  section,
  footer {
    padding: 3rem 8rem;
  }
  header {
    position: relative;
  }
  header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    width: calc(100% - 16rem);
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
  header #menu_wrapper #burger {
    display: none;
  }
  header #menu_wrapper nav {
    position: relative;
    height: auto;
    width: 100%;
    margin: auto;
    z-index: 0;
  }
  header #menu_wrapper nav #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: auto;
  }
  header #menu_wrapper nav #menu #close_menu {
    display: none;
  }
  header #menu_wrapper nav #menu .links {
    position: relative;
  }
  header #menu_wrapper nav #menu .links::before {
    content: "";
    position: absolute;
    bottom: calc(-2.5rem + 3px);
    left: 0;
    width: 100%;
    scale: 0;
    transition: scale 0.2s ease-out;
    border-bottom: 3px solid hsl(26, 100%, 55%);
  }
  header #menu_wrapper nav #menu .links:hover::before {
    scale: 1;
  }
  header #user-wrapper #cart {
    position: relative;
  }
  header #user-wrapper #cart #cart_menu {
    top: 3rem;
    left: auto;
    right: -6rem;
    width: 20rem;
  }
  header #user-wrapper #cart-btn:hover,
  header #user-wrapper #user_menu:hover {
    cursor: pointer;
  }
  header #user-wrapper #user_menu:hover {
    border: 2px solid hsl(26, 100%, 55%);
  }
  main {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 5rem;
    grid-template-columns: repeat(2, 50%);
    padding: 4rem 8rem;
  }
  main .carousel {
    overflow: auto;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
    max-width: 28rem;
    height: auto;
  }
  main .carousel .mySlides {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }
  main .carousel .mySlides:hover {
    cursor: pointer;
  }
  main .carousel .prev,
  main .carousel .next {
    display: none;
  }
  main .carousel .row {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    flex-direction: row;
  }
  main .carousel .row .column {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid transparent;
    aspect-ratio: 1/1;
    transition: 0.2s ease;
  }
  main .carousel .row .column::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border: 3px solid transparent;
    transition: all 0.3s ease;
  }
  main .carousel .row .column:hover {
    cursor: pointer;
  }
  main .carousel .row .column:hover::before {
    background-color: white;
  }
  main .carousel .row .column .demo {
    width: 100%;
    height: 100%;
  }
  main .carousel .row .column.selected {
    border: 3px solid hsl(26, 100%, 55%);
  }
  main .carousel .row .column.selected::before {
    background-color: white;
  }
  main .modal-carousel {
    position: absolute;
    gap: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: hsla(0, 0%, 0%, 0.7);
  }
  main .modal-carousel #close-modal {
    width: 1rem;
    justify-self: right;
  }
  main .modal-carousel #close-modal:hover {
    cursor: pointer;
  }
  main .modal-carousel .modal-content {
    position: relative;
    width: -moz-max-content;
    width: max-content;
  }
  main .modal-carousel .mySlidesModal {
    position: relative;
    display: none;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
  }
  main .modal-carousel .prev,
  main .modal-carousel .next {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-content: center;
    place-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
  }
  main .modal-carousel .next {
    right: 0;
    transform: translate(50%, -50%);
  }
  main .modal-carousel .prev:hover,
  main .modal-carousel .next:hover {
    cursor: pointer;
  }
  main .modal-carousel .prev:hover svg > path,
  main .modal-carousel .next:hover svg > path {
    fill: hsl(26, 100%, 55%);
  }
  main .modal-carousel .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
  main .modal-carousel .row .column {
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius: 5px;
    border: 3px solid transparent;
    overflow: hidden;
    transition: 0.2s ease;
  }
  main .modal-carousel .row .column::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border: 3px solid transparent;
    transition: all 0.3s ease;
  }
  main .modal-carousel .row .column:hover {
    cursor: pointer;
  }
  main .modal-carousel .row .column:hover::before {
    background-color: white;
  }
  main .modal-carousel .row .column.selected {
    border: 3px solid hsl(26, 100%, 55%);
  }
  main .modal-carousel .row .column.selected::before {
    background-color: white;
  }
  main .modal-carousel.modal-open {
    display: grid;
    place-content: center;
    place-items: center;
  }
  main #product .purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
  main #product #add_to_cart {
    transition: scale 0.2s ease-in-out;
  }
  main #product #add_to_cart:hover {
    scale: 1.1;
  }
  main section {
    padding-inline: 2rem;
  }
}/*# sourceMappingURL=desktop.css.map */