@import './variables';

html {
    background-color: $bgr-color;
    font-family: $font-f;
    font-size: $fs-regular;
    font-weight: $fw-regular;
}

header,
section,
footer {
    padding: 1rem 1.5rem;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

header {
    @include flex(space-between, center, 1rem);
    position: relative;

    height: 4rem;

    #menu_wrapper {
        @include flex(space-between, center, 1rem);
        
        nav {
            position: absolute;
            top: 0;
            left: 0;
    
            height: 100vh;
            width: 0;
            
            background-color: $bgr-lightbox;
                    
            #menu {
                @include flex(flex-start, start, 1rem);
                flex-direction: column;
                
                padding: 1rem;
                
                background-color: $bgr-color;
                // menu closed
                opacity: 0;
                visibility: hidden;
                width: 0;
                height: 100vh;
    
                #close_menu {
                    display: block;
                    margin-block: .5rem 1rem;
                }
        
                .links {
                    font-weight: $fw-bold;
                }
        
            }
        }
    
        nav.active {
            width: 100%;
            transition: .3s ease;
        }
        
        nav.active #menu {
            opacity: 1;
            visibility: visible;
            width: 60%;
            transition: all .3s ease-out;
            transition-delay: .2s;
        }
    }
    
    #user-wrapper {
        @include flex(space-between,center,1.25rem);

        #cart {

            #cart_menu {
                visibility: hidden;
                scale: 0;

                position: absolute;
                top: 4.5rem;
                left: .5rem;

                width: 95%;
                border-radius: 10px;

                background-color: $bgr-color;

                .cart_menu_header {
                    padding: 1rem;
                    font-weight: $fw-bold;

                    border-bottom: 1px solid $clr-third-light;
                }

                .cart_menu_body {
                    padding: 1rem;

                    p {
                        margin: 3rem auto;
                        width: fit-content;
                        font-weight: $fw-bold;
                        color: $fc-secondary-medium-dark;
                    }
                }
            }
            
            #cart_menu.active {
                visibility: visible;
                scale: 1;
                transition: .3s ease;
            }
        }

        #user_menu {
            width: 1.3rem;
        }
    }
}

.carousel {
    position: relative;
    @include flex(center,center,0);
    overflow-x: scroll;
    scroll-behavior: smooth;

    padding: 0;
    width: 100%;
    
    .myslides {
        // display: none;
        width: 100vh;
        min-height: 20rem;
    }

    .prev {
        position: absolute;
        top: 50%;
        left: .5rem;

        width: 3rem;
        aspect-ratio: 1/1;
        background-color: $bgr-hover-filter;
        border-radius: 50%;

        svg {
            display: block;
        }
    }
    
    .next {
        position: absolute;
        top: 50%;
        right: .5rem;
        height: 100%;
    }

    .row {
        display: none;
    }
}