* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(0, 0%, 100%);
  font-family: "Kumbh Sans", sans-serif;
  font-size: clamp(13px, 2vw, 16px);
  font-weight: 400;
}

header,
section,
footer {
  padding: 2.5rem 1.5rem;
}

img,
svg {
  width: 100%;
  height: 100%;
}

svg {
  scale: 0.8;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: 3.5rem;
}
header #menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
header #menu_wrapper #logo,
header #menu_wrapper #logo svg {
  width: -moz-fit-content;
  width: fit-content;
}
header #menu_wrapper nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
}
header #menu_wrapper nav #menu {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 100vh;
  transition: width 0.3s ease-out;
}
header #menu_wrapper nav #menu #close_menu {
  display: block;
  margin-block: 0.5rem 1rem;
}
header #menu_wrapper nav #menu .links {
  font-weight: 700;
}
header #menu_wrapper nav.active {
  width: 100%;
  z-index: 6;
}
header #menu_wrapper nav.active #menu {
  opacity: 1;
  visibility: visible;
  width: 60%;
}
header #user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
header #user-wrapper #cart .cart-quantity {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-4.5rem, 1.5rem);
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-size: 0.55em;
  padding: 0.05rem 0.35rem;
  border-radius: 10px;
  transition: scale 0.2s;
}
header #user-wrapper #cart .cart-quantity.active {
  animation: bounce 0.2s forwards;
}
@keyframes bounce {
  0% {
    scale: 0;
  }
  20% {
    scale: 1.1;
  }
  40% {
    scale: 1;
  }
  80% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
header #user-wrapper #cart #cart_menu {
  visibility: hidden;
  scale: 0;
  transition: 0.3s ease;
  transform-origin: top;
  position: absolute;
  z-index: 3;
  top: 5.5rem;
  left: 1rem;
  width: 95%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: -1px 20px 20px 0px hsla(218, 12%, 13%, 0.179);
}
header #user-wrapper #cart #cart_menu .cart_menu_header {
  padding: 1rem;
  font-weight: 700;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
header #user-wrapper #cart #cart_menu .cart_menu_body {
  padding: 1rem;
}
header #user-wrapper #cart #cart_menu .cart_menu_body p {
  margin: 3rem auto;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
}
header #user-wrapper #cart #cart_menu.active {
  visibility: visible;
  scale: 1;
}
header #user-wrapper #user_menu {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid white;
  background-image: url(../images/image-avatar.png);
  background-position: center;
  background-size: cover;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 0;
  width: 100%;
  max-height: 27em;
}
.carousel .mySlides {
  display: none;
  max-width: 35rem;
}
.carousel .prev,
.carousel .next {
  display: grid;
  place-content: center;
  place-items: center;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: hsl(223, 64%, 98%);
  border-radius: 50%;
}
.carousel .prev svg,
.carousel .next svg {
  scale: 0.7;
}
.carousel .prev {
  left: 0.5rem;
}
.carousel .next {
  right: 0.5rem;
}
.carousel .fade {
  animation: fade 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.carousel .row {
  display: none;
}

.modal-carousel {
  display: none;
  z-index: 9;
}

.product_description {
  display: flex;
  justify-content: center;
  align-items: left;
  gap: 1.5rem;
  flex-direction: column;
}
.product_description .brand {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: clamp(13px, 2vw, 16px);
}
.product_description .title {
  font-size: 2.5em;
}
.product_description .description {
  color: hsl(219, 9%, 45%);
  font-size: clamp(13px, 2vw, 16px);
  line-height: 1.7em;
}
.product_description .price_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.product_description .price_wrapper .price_to_pay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product_description .price_wrapper .price_to_pay .price {
  font-weight: 700;
  font-size: 2.5em;
}
.product_description .price_wrapper .price_to_pay .discount {
  background-color: hsl(25, 100%, 94%);
  padding: 0.5rem;
  border-radius: 10px;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 1.2em;
}
.product_description .price_wrapper .original_price {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
  font-size: 1.2em;
}

.select_quantity_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  max-width: 31rem;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: hsl(223, 64%, 98%);
}
.select_quantity_wrapper #subtract,
.select_quantity_wrapper #add {
  display: grid;
  place-content: center;
  place-items: center;
  border: none;
  background-color: transparent;
  padding: 0 0.5rem;
}
.select_quantity_wrapper .quantity_to_add {
  font-weight: 700;
  font-size: 1.2em;
}

#add_to_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(100%, 31rem);
  padding: 1rem;
  margin: auto;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: hsl(25, 100%, 94%);
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0px 27px 37px -17px hsl(26, 100%, 55%);
}
#add_to_cart svg {
  width: -moz-fit-content;
  width: fit-content;
  fill: hsl(25, 100%, 94%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */